<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 <img src="https://upload.wikimedia.org/wikipedia/commons/9/90/ICE_logo_100px_RGB-01.png?20170510193544" alt="candy cane">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/90/ICE_logo_100px_RGB-01.png?20170510193544" alt="woman">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/90/ICE_logo_100px_RGB-01.png?20170510193544" alt="more candy cane">

      Test
