<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 <img src="https://www.milouandpilou.com/wp-content/uploads/2018/10/img_5686-902x1203.jpg" alt="candy cane">
      <img src="https://www.milouandpilou.com/wp-content/uploads/2018/10/swedishvictoriansweethernogin.png" alt="woman">
      <img src="https://www.milouandpilou.com/wp-content/uploads/2018/10/swedishvictoriansweethernogin.png" alt="more candy cane">

      Test
